<h1><%= Vacancy.model_name.human(count: 2) %></h1>

<%= form_with url: vacancies_path, method: :get do %>
  <%= label_tag :search, "" %>
  <%= text_field_tag :search, "", placeholder: t(".placeholder_text") %>
  <%= submit_tag t(".search") %>
<% end %>

<% if @vacancies.empty? %>
  <div class="warning"><%= t(".no_vacancy_available") %></div>
<% else %>
    <dl>
    <% @vacancies.each do |vacancy| %>
      <dt><%= Vacancy.human_attribute_name("title") %></dt>
        <dd><%= link_to vacancy.title, vacancy_path(vacancy) %>
        <%= t(".already_applied") if candidate_signed_in? && vacancy.candidates.include?(current_candidate) %></dd>
      
      <dt><%= Vacancy.human_attribute_name("level") %></dt>
      <dd><%= vacancy.level %></dd>
      <dt><%= Company.model_name.human %></dt>
      <dd><%= vacancy.company.name %></dd>
      <hr>
    <% end %>
    </dl>
<% end %>

<%= link_to t("misc.back"), root_path %>