  <% if @vacancy.disabled? %>
    <h1><%= t(".disabled_title", title: @vacancy.title) %></h1>
    <% if @vacancy.filled? && current_user&.company == @vacancy.company %>
      <%= t(".message_vacancy_filled") %>
    <% end %>
  <% elsif @vacancy.deadline.past? %>
    <h1><%= t(".deadline_exceeded", title: @vacancy.title) %></h1>
  <% else %>
    <h1><%= @vacancy.title %></h1>
  <% end %>

<dl>
  <dt><%= Company.model_name.human(count: 1) %></dt>
  <dd><%= @vacancy.company.name %></dd>
  <dt><%= Vacancy.human_attribute_name("description") %></dt>
  <dd><%= @vacancy.description %></dd>
  <dt><%= Vacancy.human_attribute_name("nivel") %></dt>
  <dd><%= @vacancy.nivel %></dd>
  <dt><%= t(".salary_range") %></dt>
  <dd><%= t(".salary", begin: number_to_currency(@vacancy.min_salary), end: number_to_currency(@vacancy.max_salary)) %></dd>
  <dt><%= Vacancy.human_attribute_name("mandatory_requirements") %></dt>
  <dd><%= @vacancy.mandatory_requirements %></dd>
  <dt><%= Vacancy.human_attribute_name("deadline") %></dt>
  <dd><%= l(@vacancy.deadline) %></dd>
   <% if current_user&.company == @vacancy.company %>
    <dt><%= Vacancy.human_attribute_name("total_vacancies") %></dt>
    <dd><%= @vacancy.total_vacancies %></dd>
    <% end %>
</dl>

<% unless current_user || @vacancy.candidates.include?(current_candidate) %>
  <%= link_to "Aplicar para esta vaga", vacancy_job_applications_path(@vacancy), method: :post %><br>
<% end %>

<% if current_user&.company == @vacancy.company %>
  <%= link_to t(".edit"), edit_vacancy_path(@vacancy) %><br>

  <% if !@vacancy.deadline.past? %>
    <%= link_to t(".disable_vacancy"), disable_vacancy_path(@vacancy), method: :post unless @vacancy.disabled? %>
    <%= link_to t(".enable_vacancy"), enable_vacancy_path(@vacancy), method: :post unless @vacancy.enabled? %>
  <% end %>
<% end %><br>


<% if current_user&.company == @vacancy.company %> 
  <h3>Candidaturas recebidas para esta vaga</h3>
  <% if @vacancy.job_applications.empty? %>
    <div class="warning"><%= t(".no_application") %></div>
  <% else %>
  <dl>
    <% @vacancy.job_applications.each do |job_application| %>
      <dt><%= Candidate.model_name.human %></dt>
      <dd><%= link_to job_application.candidate.full_name, candidate_path(job_application.candidate) %></dd>
      <dt><%= Candidate.human_attribute_name("email") %></dt>
      <dd><%= job_application.candidate.email %></dd>
      <dt><%= t(".applied_date") %>
      <dd><%= l(job_application.created_at.to_date) %></dd>
      <dt><%= t(".status") %></dt>
      <% if !job_application.reviewed? %>
        <dd><%= t(".pending_evaluation") %></dd><br>
        <%= link_to t(".refuse"), new_job_application_feedback_path(job_application, accept: false) %>
        <%= link_to t(".send_proposal"), new_job_application_feedback_path(job_application, accept: true) %>  
      <% elsif job_application.accepted? %>
        <dd><%= t(".proposal_sent") %></dd>

        <% if job_application.feedback.answer.present? %>
            <%= t(".candidate_answer") %>
          <% if job_application.feedback.answer.accepted? %>
            <dd><%= t(".proposal_accepted") %></dd>
            <dd><%= "#{Feedback.human_attribute_name("start_date")}: #{l(job_application.feedback.answer.start_date)}" %></dd>
          <% else %>
              <dd><%= t(".proposal_declined") %></dd>
              <dd><%= "#{Feedback.human_attribute_name("reason")}: #{job_application.feedback.answer.reason}" %></dd>
          <% end %>
        <% end %>
      <% else %>
        <dd><%= t(".declined") %></dd>
      <% end %>
    <% end %>
    <hr>
  <% end %>
<% end %>
    
<%= link_to t("misc.back"), :back %>
