<h1><%= @vacancy.title %></h1>
<dl>
  <dt><%= Company.model_name.human(count: 1) %></dt>
  <dd><%= @vacancy.company.name %></dd>
  <dt><%= Vacancy.human_attribute_name("description") %></dt>
  <dd><%= @vacancy.description %></dd>
  <dt><%= Vacancy.human_attribute_name("nivel") %></dt>
  <dd><%= @vacancy.nivel %></dd>
  <dt><%= Vacancy.human_attribute_name("salary_range") %></dt>
  <dd><%= t(".salary", begin: number_to_currency(@vacancy.min_salary), end: number_to_currency(@vacancy.max_salary)) %></dd>
  <dt><%= Vacancy.human_attribute_name("mandatory_requirements") %></dt>
  <dd><%= @vacancy.mandatory_requirements %></dd>
  <dt><%= Vacancy.human_attribute_name("deadline") %></dt>
  <dd><%= l(@vacancy.deadline) %></dd>
</dl>

<%= link_to t("misc.back"), vacancies_path %>
