<h1><%= t(".title") %></h1>
<h2><%= t(".welcome_message") %></h2>


<%= form_with url: search_path, method: :get do %>
  <%= label_tag :search, "" %>
  <%= text_field_tag :search, "", placeholder: t(".placeholder_text") %>
  <%= submit_tag t(".search") %>
<% end %>


<%= link_to Company.model_name.human(count: 2), companies_path %>
<%= link_to t(".available_vacancies"), vacancies_path %>