<h1><%= t(".results_search") %></h1>

<% if @vacancies.any? %>
  <h3><%= t(".available_vacancies") %></h3>
    <% @vacancies.each do |vacancy| %>
        <p>
          <%= "#{Vacancy.human_attribute_name("title")}:" %>
          <%= link_to vacancy.title, vacancy_path(vacancy) %>
          <%= t(".already_applied") if candidate_signed_in? && vacancy.candidates.include?(current_candidate) %>
        </p>
        <p>
          <%= "#{Vacancy.human_attribute_name("level")}:" %>
          <%= vacancy.level %>
        </p>
    <hr>
    <% end %>
<% end %>

<% if @companies.any? %>
  <h3><%= Company.model_name.human(count: 2) %></h3>
    <% @companies.each do |company| %>
      <p>
        <%= "#{Company.human_attribute_name("name")}:" %>
        <%= link_to company.name, company_path(company) %>
      </p>
      <p>
        <%= "#{Company.human_attribute_name("description")}:" %>
        <%= company.description %>
      </p>
      <hr>
    <% end %>
<% end %>
<% if @companies.empty? && @vacancies.empty? %>
  <%= t(".no_results") %><br>
<% end %>

<%= link_to t("misc.back"), root_path %>