<% if candidate_signed_in? %>
  <h1><%= t("misc.my_profile") %></h1>
<% else %>
  <h1><%= t("misc.candidate_profile") %></h1>
<% end %>

<dl>
  <dt><%= Candidate.human_attribute_name("full_name") %></dt>
  <dd><%= @candidate.full_name %></dd>
  <dt><%= Candidate.human_attribute_name("cpf") %></dt>
  <dd><%= @candidate.cpf %></dd>
  <dt><%= Candidate.human_attribute_name("phone") %></dt>
  <dd><%= @candidate.phone %></dd>
  <dt><%= Candidate.human_attribute_name("biography") %></dt>
  <dd><%= @candidate.biography %></dd>
</dl>


<%= link_to t("misc.edit_profile"), edit_candidate_registration_path if candidate_signed_in? %><br>
<%= link_to t("misc.back"), :back %>
