<% if company.errors.any? %>
  <div class="alert">
    <% if company.persisted? %>
      <p>Não foi possível editar a empresa</p>
    <% else %>
      <p>Não foi possível criar a empresa</p>
    <% end %>
    <p>Confira os erros abaixo:</p>
    <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_with model: company do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :logo %><br>
    <%= form.file_field :logo %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :address %><br>
    <%= form.text_area :address %>
  </div>

  <div>
    <%= form.label :cnpj %><br>
    <%= form.text_field :cnpj %>
  </div>

  <div>
    <%= form.label :site %><br>
    <%= form.text_field :site %>
  </div>

  <div>
    <%= form.label :social_networks %><br>
    <%= form.text_field :social_networks %>
  </div><br>

  <div>
    <%= form.submit %>
  </div>
<% end %><br>

