<h1><%= @company.name %></h1>
<dl>
  <div>
    <% if @company.logo.attached? %>
      <dt><%= Company.human_attribute_name("logo") %></dt>
      <%= image_tag @company.logo %>
    <% end %>
  </div>
  <dt><%= Company.human_attribute_name("description") %></dt>
  <dd><%= @company.description %></dd>
  <dt><%= Company.human_attribute_name("address") %></dt>
  <dd><%= @company.address %></dd>
  <dt><%= Company.human_attribute_name("cnpj") %></dt>
  <dd><%= @company.cnpj %></dd>
  <dt><%= Company.human_attribute_name("site") %></dt>
  <dd><%= @company.site %></dd>
  <dt><%= Company.human_attribute_name("social_networks") %></dt>
  <dd><%= @company.social_networks %></dd>
</dl>

<% if current_user&.admin? && current_user.company == @company %>
  <%= link_to t(".edit"), edit_company_path(@company) %><br>
<% end %>

<% if current_user&.company == @company %>
  <%= link_to t(".vacancy_registration"), new_vacancy_path %><br>
<% end %>

<h2><%= t(".company_vacancies") %></h2>
<% if @company.vacancies.empty? %>
  <div class="warning"><%= t(".no_vacancy_available") %></div>
<% else %>
    <dl>
    <% @company.vacancies.each do |vacancy| %>
      <% if vacancy.enabled? && vacancy.deadline >= Date.today %>
        <dt><%= Vacancy.human_attribute_name("title") %></dt>
        <dd><%= link_to vacancy.title, vacancy_path(vacancy) %></dd>
        <dt><%= Vacancy.human_attribute_name("description") %></dt>
        <dd><%= vacancy.description %></dd>
        <hr>
      <% elsif current_user&.company == @company %>
        <dt><%= Vacancy.human_attribute_name("title") %></dt>
        <dd>
          <%= link_to vacancy.title, vacancy_path(vacancy) %>
          <%= vacancy.deadline.past? ? t(".deadline_exceeded") : t(".disabled_vacancy") %>
        </dd>
        <dt><%= Vacancy.human_attribute_name("description") %></dt>
        <dd><%= vacancy.description %></dd>
        <hr>
      <% end %>
    <% end %>
    </dl>
<% end %>

<%= link_to "Candidaturas", job_applications_path unless current_user&.company != @company %>

<%= link_to t("misc.back"), companies_path %>
