<% if @feedback.errors.any? %>
  <% @feedback.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>


<%= form_with model: [:job_application, @feedback] do |form| %>
  <div>
    <%= form.label :reason %><br>
    <%= form.text_area :reason %>
  </div>

  <%= form.hidden_field :accepted, value: @accept %>

  <% if @accept %>
    <div>
      <%= form.label :salary_proposal %><br>
      <%= form.text_field :salary_proposal %>
    </div>

    <div>
      <%= form.label :start_date %><br>
      <%= form.date_field :start_date %>
    </div>
  <% end %><br>

  <div>
    <%= form.submit t(".send_feedback") %>
  </div>
<% end %><br>