<div class="container">
  <h2><%= t(".register") %></h2>

  <div class="row  justify-content-center form-group">
    <div class="col-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "candidates/shared/error_messages", resource: resource %>

        <%= f.fields_for :company do |cf| %>
          <div class="field">
            <%= f.label :full_name, class: "mb-0" %><br />
            <%= f.text_field :full_name, class: "form-control mb-3" %>
          </div>

          <div class="field">
            <%= f.label :cpf, class: "mb-0" %><br />
            <%= f.text_field :cpf, class: "form-control mb-3" %>
          </div>

          <div class="field"> 
            <%= f.label :phone, class: "mb-0" %><br />
            <%= f.text_field :phone, class: "form-control mb-3" %>
          </div>

          <div class="field">
            <%= f.label :biography, class: "mb-0" %><br />
            <%= f.text_area :biography, class: "form-control mb-3" %>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :email, class: "mb-0" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-3" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "mb-0" %>
          <% if @minimum_password_length %>
          <em><%= t(".minimum_of_characters", length: @minimum_password_length) %></em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control mb-3" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "mb-0" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control mb-3" %>
        </div>

        <div class="actions mb-2">
          <%= f.submit t("misc.registration"), class: "btn btn-outline-secondary" %>
        </div>
      <% end %>

      <%= render "candidates/shared/links" %>
    </div>
  </div>
<div>