<!DOCTYPE html>
<html>
  <head>
    <title>FindjobSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <%= current_user.email %>
        <%= link_to t("misc.exit"), destroy_user_session_path, method: :delete %>
      <% elsif candidate_signed_in? %>
        <%= current_candidate.email %>
        <%= link_to "Minhas candidaturas", job_applications_path %>
        <%= link_to "Editar perfil", edit_candidate_registration_path %>
        <%= link_to t("misc.exit"), destroy_candidate_session_path, method: :delete %>
      <% else %>
        <%= link_to t("misc.registration"), new_candidate_registration_path %>
        <%= link_to t("misc.enter"), new_candidate_session_path %>
        <%= link_to t("misc.company_access"), new_user_session_path %>
      <% end %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
