<h2>Cadastro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(minímo de <%= @minimum_password_length %> caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  
  <% if resource.admin? %>
    <h3>Cadastrar empresa</h3>

    <%= f.fields_for :company do |cf| %>
      <div>
        <%= cf.label :name %><br>
        <%= cf.text_field :name %>
      </div>

      <div>
        <%= cf.label :logo %><br>
        <%= cf.file_field :logo %>
      </div>

      <div>
        <%= cf.label :description %><br>
        <%= cf.text_area :description %>
      </div>

    <div>
      <%= cf.label :address %><br>
      <%= cf.text_area :address %>
    </div>

    <div>
      <%= cf.label :cnpj %><br>
      <%= cf.text_field :cnpj %>
    </div>

    <div>
      <%= cf.label :site %><br>
      <%= cf.text_field :site %>
    </div>

    <div>
      <%= cf.label :social_networks %><br>
      <%= cf.text_field :social_networks %>
    </div><br>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit t("misc.registration") %>
  </div>
<% end %>

<%= render "users/shared/links" %>
<%= link_to t("misc.back"), root_path %>
